.layer {
	width: 100vw;
	height: 100px;
	position: fixed;
	bottom: 0;
	z-index: 100;
	display: block;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}

.container {
	margin: 30vh auto 0 auto;

	header {
		text-align: center;
		float: left;

		p {
			font-family: $font-family-headline;
			text-transform: uppercase;
			font-weight: 700;
			display: block;
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 375px),
			only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 375px),
			only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 375px),
			only screen and (        min-device-pixel-ratio: 2)      and (max-width: 375px),
			only screen and (                min-resolution: 192dpi) and (max-width: 375px),
			only screen and (                min-resolution: 2dppx)  and (max-width: 375px) {
				width: 100vw;
				text-align: center;
			}

			&:first-of-type {
				font-size: 36px;
				line-height: 36px;

				@media
				only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 375px),
				only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 375px),
				only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 375px),
				only screen and (        min-device-pixel-ratio: 2)      and (max-width: 375px),
				only screen and (                min-resolution: 192dpi) and (max-width: 375px),
				only screen and (                min-resolution: 2dppx)  and (max-width: 375px) {
					font-size: 10vw;
					line-height: 10vw;
				}
			}

			&:last-of-type {
				font-size: 72px;
				line-height: 72px;

				@media
				only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 375px),
				only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 375px),
				only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 375px),
				only screen and (        min-device-pixel-ratio: 2)      and (max-width: 375px),
				only screen and (                min-resolution: 192dpi) and (max-width: 375px),
				only screen and (                min-resolution: 2dppx)  and (max-width: 375px) {
					font-size: 18vw;
					line-height: 18vw;
				}
			}
		}
	}

	> section {
		float: left;
		margin-top: 70px;
		width: 100%;
		@media
		only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 375px),
		only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 375px),
		only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 375px),
		only screen and (        min-device-pixel-ratio: 2)      and (max-width: 375px),
		only screen and (                min-resolution: 192dpi) and (max-width: 375px),
		only screen and (                min-resolution: 2dppx)  and (max-width: 375px) {
			width: calc(100% - 40px);
			margin-left: 20px;
			margin-right: 20px;
		}

			&:first-of-type {
			margin-top: 53px;

			p:last-of-type {
				line-height: 30px;

				> a {
					border-bottom: 1px solid black;

					&:hover {
						text-decoration: none;
						border-bottom-width: 2px;
					}
				}
			}
		}

		&:last-of-type {
			> a {
				text-align: center;
				display: block;
				width: 100%;
				font-style: italic;
				font-size: 22px;
			}

			p:last-of-type {
				margin-top: 25px;

				a {
					width: 33.3%;
					float: left;
					text-align: center;
					font-style: italic;

					&:first-of-type { text-align: right; }
					&:last-of-type { text-align: left; }
				}
			}
		}

		> p:first-of-type {
			text-align: center;
			width: 100%;
			font-size: 20px;
			display: block;
		}

		section {
			margin-bottom: 35px;

			&:last-of-type {
				margin-bottom: 0;
			}

			> a {
				font-size: 14px;
				font-weight: bold;
				font-family: $font-family-headline;
				margin-bottom: 12px;
				text-align: center;
				width: 100%;
				display: block;
			}

			p {
				line-height: 30px;

				a {
					border-bottom: 1px solid black;

					&:hover {
						text-decoration: none;
						border-bottom-width: 2px;
					}
				}
			}
		}

		div {
			height: 1px;
			width: 100px;
			display: block;
			background: black;
			margin: 25px auto;
		}
	}

	footer {
		float: left;
		width: 100%;
		margin-top: 100px;
		padding-bottom: 100px;
		text-align: center;
		font-size: 12px;
	}
}